/* Reset default margin and padding */


body {
  margin: 0;
  padding: 0;
}

/* Center Text */
.center-text {
  text-align: center;
}

.center-text h1 {
  font-size: 44px;
  font-family: "Franklin Gothic Medium", sans-serif;
  margin-top: 70px; /* Adjusted margin */
}

.center-text p {
  font-size: 22px;
  font-family: "Franklin Gothic", sans-serif;
  color: 123248fa;
}

/* Input Container */
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 150px;
  background-color: #f8f8f8;
  border: 2px dashed lightgrey;
  margin-top: 50px; /* Adjusted margin */
}

.upload-btn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #484364;
  color: #fff;
  font-size: 16px;
  border-radius: 7px;
  transition: transform 0.2s, box-shadow 0.2s, cursor 0.2s; /* Smooth transitions */
}

/* List Center Text */
.list-center-text {
  color: #f8f8f8;
  font-family: "Franklin Gothic", sans-serif;
  text-align: center;
  background-color: #484364;
  margin-top: 50px;
  padding: 20px 0; /* Added padding */
}

.list-center-text h2 {
  padding: 5px;
  font-size: 32px;
}

.no-file {
  font-size: 22px;
  color: steelblue;
  font-family: "Franklin Gothic", sans-serif;
  text-align: center;
}

/* File Details */
.file-details {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px; /* Adjusted margin */
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  margin-top: 20px; /* Adjusted margin */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

th,
td {
  text-align: left;
  padding: 12px;
}

th {
  background-color: #eee;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s; /* Smooth transition */
}

/* View Link */
.view-link {
  padding: 10px;
  text-decoration: none;
  color: #0000f1;
}

/* Delete Link */
.delete-link {
  padding: 10px;
  font-size: 18px;
}

/* Hover Effect for Table Cells */
td:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Light gray background on hover */
}

/* Hover Effect for View Link */
.view-link:hover {
  text-decoration: underline;
}

/* Hover Effect for Delete Link */
.delete-link:hover {
  color: #ff0000; /* Change to red on hover */
}

/* Hover Effect for Upload Button */
.upload-btn:hover {
  transform: translateY(-1.5px);
  box-shadow: 0px 2px 2px 1px rgba(75, 136, 253, 0.4);
  cursor: pointer;
}
